.page-container {
  background-color: var(--page-background-color);
  min-height: 100vh;
}

.container {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 100%;
  }
}
