:root {
  --animation: linear 250ms;

  --main-font: 'Quicksand', sans-serif;
  --main-text-color: #efeee0;

  --page-background-color: #1d2123;
  --dark-grey-color: #0f1212;
  --accent-color: #7234a1;
}
