<header class="section">
  <div class="container header-container">
    <a href="#" class="logo">
      <p class="logo-text">SoundWave</p>
    </a>

    <label class="search-label">
      <span class="search-input-wrapper">
        <svg aria-label="Search" class="search-icon">
          <use href="/src/images/sprite.svg#icon-search"></use>
        </svg>
        <input
          type="text"
          class="search-input"
          required
          name="search"
          placeholder="Search"
        />
      </span>
    </label>
  </div>
</header>
