<section class="section-side-menu">
  <div class="main-section-container">
    <div class="side-bar">
      <ul class="side-bar__list">
        <li class="side-bar__list-element">
          <a href="#" class="side-bar__list-element__link">
            <svg aria-label="Home" class="side-bar__list-element__icon">
              <use href="./images/sprite.svg#icon-home"></use>
            </svg>
            <p class="side-bar__text text__hidden">Home</p>
          </a>
        </li>
        <li class="side-bar__list-element">
          <a href="#" class="side-bar__list-element__link">
            <svg aria-label="Home" class="side-bar__list-element__icon">
              <use href="./images/sprite.svg#icon-heart"></use>
            </svg>
            <p class="side-bar__text text__hidden">Liked</p>
          </a>
        </li>
        <li class="side-bar__list-element">
          <a href="#" class="side-bar__list-element__link">
            <svg aria-label="Home" class="side-bar__list-element__icon">
              <use href="./images/sprite.svg#icon-library"></use>
            </svg>
            <p class="side-bar__text text__hidden">Playlists</p>
          </a>
        </li>

        <li class="side-bar__list-element profile__list-element">
          <a href="#" class="side-bar__list-element__link">
            <svg aria-label="Profile" class="side-bar__list-element__icon">
              <use href="./images/sprite.svg#icon-profile"></use>
            </svg>
            <p class="side-bar__text text__hidden">Profile</p>
          </a>
        </li>
        <li class="side-bar__list-element">
          <a href="#" class="side-bar__list-element__link">
            <svg aria-label="Logout" class="side-bar__list-element__icon">
              <use href="./images/sprite.svg#icon-logout"></use>
            </svg>
            <p class="side-bar__text text__hidden">Logout</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="main-page-content"></div>
  </div>
</section>
