.main-section__first-subsection {
  display: flex;
}

.search-answer {
  display: flex;
  justify-content: center;
  flex-direction: column;

  gap: 20px;
}

.track-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
