.main-section-container {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.side-bar {
  width: 70px;
}

.side-bar__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  gap: 30px;
}
